@import "tailwindcss";
@import "tw-animate-css";
@import "@nuxt/ui";

@theme {
    --font-title: 'Zilla Slab', serif;
    --font-sans: 'Nunito Sans', system-ui, sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
}

@theme static {
    /* Override default green color */
    --color-green-50: #ebf2f1;
    --color-green-100: #c3d7d6;
    --color-green-200: #afcac8;
    --color-green-300: #87b0ac;
    --color-green-400: #73a39e;
    --color-green-500: #377b75;
    --color-green-600: #326f69;
    --color-green-700: #2c625e;
    --color-green-800: #275652;
    --color-green-900: #1c3e3b;
    --color-green-950: #050c0c;

    /* Define new custom color */
    --color-brand-50: #fef2f2;
    --color-brand-100: #fee2e2;
    --color-brand-200: #fecaca;
    --color-brand-300: #fca5a5;
    --color-brand-400: #f87171;
    --color-brand-500: #ef4444;
    --color-brand-600: #dc2626;
    --color-brand-700: #b91c1c;
    --color-brand-800: #991b1b;
    --color-brand-900: #7f1d1d;
    --color-brand-950: #450a0a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    font-weight: var(--font-weight-bold);
}
