@import "tailwindcss";
@import "tw-animate-css";
@import "@nuxt/ui";

@theme {
    --font-title: 'Zilla Slab', serif;
    --font-sans: 'Nunito Sans', system-ui, sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
}

@theme static {
    /* Override default green color */
    --color-green-50: #ebf2f1;
    --color-green-100: #c3d7d6;
    --color-green-200: #afcac8;
    --color-green-300: #87b0ac;
    --color-green-400: #73a39e;
    --color-green-500: #377b75;
    --color-green-600: #326f69;
    --color-green-700: #2c625e;
    --color-green-800: #275652;
    --color-green-900: #1c3e3b;
    --color-green-950: #050c0c;

    /* Define new custom color */
    --color-brand-50: #f7f0f4;
    --color-brand-100: #e8d1de;
    --color-brand-200: #d9b2c8;
    --color-brand-300: #d1a3bd;
    --color-brand-400: #c184a7;
    --color-brand-500: #b26591;
    --color-brand-600: #a05b83;
    --color-brand-700: #8e5174;
    --color-brand-800: #6b3d57;
    --color-brand-900: #24141d;
    --color-brand-950: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    font-weight: var(--font-weight-bold);
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s ease-in-out;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.page-leave-from,
.page-enter-to {
  opacity: 1;
}
